{% extends "base.html" %}
{% block content %}
<div class="container jumbotron">
    <div class="row">
        <h1>Add an employer</h1>
    </div>
          <p>Add a new employer with the form below:</p>
  <div class="row">
    <form style="width: 100%;" method="POST">

    <div class="row">
        <div class="col">
            {# This hidden_tag is a CSRF security feature. #}
            {{ form.hidden_tag() }}

            {{ form.first_name.label }} {{ form.first_name() }}<br>
            {{ form.last_name.label }} {{ form.last_name() }}<br>
        </div>
         <div class="col">
             {{ form.emp_id.label }} {{ form.emp_id() }}<br>
             {{ form.region.label }} {{ form.region() }}<br>
             {{ form.pay_grade.label }} {{ form.pay_grade() }}
        </div>
    </div>
    <div class="row text-center">
        {{ form.submit() }}
    </div>

        {% for field, errors in form.errors.items() %}
            <div class="p-3 mb-2 bg-warning text-dark form-text text-muted">
            {{ ', '.join(errors) }}
            </div>
        {% endfor %}




      </form>
    </div>
  </div>
{% endblock %}
